body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color:rgb(50, 97, 112);
    color: #fff;
    padding: 0px;
    display: flex;
    align-items: center;

    h1{
    margin: 0;
    }
}

.icono{
    border-radius: 25%;
    width: 30%;
    margin-left: 15%;
}

details{

    summary{
    list-style: none;
    padding: 5px;
    }

    a{
        padding: 5px;
        background-color: white;
        color: black;
        border-radius: 25%;
        text-decoration: none;
    }
}

.container {
    text-align: center;
    font-weight: 300px;
    background-color: black;
}

.description {
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description h1 {
    margin: 0;
    font-size: 24px;
    color: black;
}

.description p {
    margin: 10px 0 0;
    font-size: 16px;
    color: black;
}

.titulo{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    background-color:rgb(50, 97, 112);
    color: white;
}

.texto1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px; 
    box-sizing: border-box;
}

.column {
    background-color:rgba(0, 0, 0255,0.5); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 32%; 
    box-sizing: border-box;
    color: white;
}

.column h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.column p {
    margin: 0 0 20px;
    font-size: 16px;
    color: white;
}

.map iframe {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.sub-texto{
    text-align: justify;
    font-weight: 300px;
    color: white;
}

.boton1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgb(50, 97, 112); 
    color: #fff; 
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color:rgb(50, 97, 112); 
}

.titulo1{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    background-color:rgb(50, 97, 112);
    color: rgb(3, 2, 2);
}

.texto3 {
    align-items: flex-start;
    margin: 0 15% 0 15%;
}

.left {
    margin-right: 30px;
    display: flex;

    p{
        padding-left: 3%;
    }
}

.image-title {
    border: 5px solid black;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 50%;

    h3 {
    margin: 10px 0 0 0; 
    text-align: center; 
    }
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px 10px 10px;
    background-color:rgb(50, 97, 112); 
    color: #fff; 
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn2:hover {
    background-color:rgb(50, 97, 112); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;    
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


footer {
    background-color: rgb(50, 97, 112);
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    font-weight: 100px;
    padding-bottom: 1%;

    h3{
        text-align: justify;
    }

    p{
        margin: 1%;
        text-align:justify;
    }
}

.copy{
    width: 50%;
}

.coury{
    text-align: center;
    display:block;
}


.cont{
    width: 25%;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .icono {
        width: 50%;
        margin: 20px auto;
    }

    .container {
        padding: 20px;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Eliminamos los márgenes */
    .texto3 {
        margin: 0;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .copy, .cont {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .description h1 {
        font-size: 20px;
    }

    .texto1{
        display: block;
    }

    .texto3 {
        margin: 0;
    }

    .left, .right {
        width: 100%;
    }

    .image-title {
        width: 80%;
    }

    .image-title h3 {
        font-size: 18px;
    }

    .right h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 10px;
    }

    .icono {
        width: 70%;
        margin: 10px auto;
    }

    .description h1 {
        font-size: 18px;
    }

    .texto1 {
        padding: 10px;
    }

    .column {
        width: 100%;
    }

    .image-title {
        width: 90%;
    }

    .image-title h3 {
        font-size: 16px;
    }

    .right h1 {
        font-size: 18px;
    }

    body {
        margin: 0;
    }
}
